<a href="https://colab.research.google.com/github/krystal2ee/Colab_Repo/blob/main/greedy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#이코테 p90
#1. 거스름돈 알고리즘

n = 800
count =0
coin_types = [500,100,50,10]

for coin in coin_types:
  count += n//coin
  n %=coin

print(count)

4

In [10]:
from ctypes import Array
# 이코테 p92
# 큰 수의 법칙

n, m, k = map(int, input().split())
print(n, m, k)

data = list(map(int, input().split()))
data.sort()
print(data)

5 8 3
5 8 3
2 4 5 4 6
[2, 4, 4, 5, 6]

In [5]:

# first = data[n-1]
# second = data[n-2]

# print(first)
# print(second)
# # arr 에서 제일 큰수 찾고, k번 더한다.
# # 다음 큰수 찾고 k번 더하는데 총 m번 더한다.
# result = 0
# while True:
#   for i in range(k):
#     if m==0:
#       break
#     result +=first
#     m -= 1
#   if m == 0:
#     break
#   result += second
#   m -= 1
# print(result)

6
5
46

In [11]:
#method 2
print(first)
print(second)

count = int(m/(k+1))*k
count += m % (k+1)

result = 0
result += (count)*first
result+= (m-count)*second
print(result)

6
5
46